.Card {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px 10px 10px 10px;
    box-shadow: -5px 5px 5px rgb(7, 3, 1);
    min-width: 1px;
    box-sizing: border-box;
    margin: 0%;
    
}

