.Deck {
    text-align: center;
    position: relative;
}

.Deck-auto {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
}

.Deck-auto:hover {
    cursor: pointer;
    background-color: darkgrey;
    color: black;
}

.Deck-auto:active, .Deck-auto:focus {
    outline: none;
}

.Deck-cardpile1 {
    margin-top: 30px;
    position: absolute;
    left: 15%
}
.Deck-cardpile2 {
    margin-top: 30px;
    position: absolute;
    right: 15%
}

h2, h1, label {
    color: white
}

